@media (max-width: 425px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .img-ap {
        width: 150px;
    }

    .rede-social {
        justify-content: center;
    }

    .container-foto .profile {
        max-width: 200px;
    }

    .horarios {
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container > * {
        margin-bottom: 10px;
    }

    .horarios {
        margin-left: auto;
        margin-right: auto;
    }
}